/* General container styling */
.orders-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* Order list styling */
.order-list {
    list-style: none;
    padding: 0;
    width: 400px;
    margin-top: 20px;
}

/* Individual order styling */
.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, max-height 0.3s ease;
    cursor: pointer;
    max-height: 60px; /* Adjust as needed for the collapsed state */
    overflow: hidden;
    text-align: center;
}

.order.expanded {
    max-height: 500px; /* Adjust as needed for the expanded state */
}

.order:hover {
    background-color: #f1f1f1;
}

/* Order title styling */
.order h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Order total and date styling */
.order p {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Order items styling */
.order h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.order li {
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Styling for order item details */
.order-item-name {
    font-weight: bold;
    flex: 2;
}

.order-item-quantity, .order-item-price {
    flex: 1;
    text-align: right;
}
